.App {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;

  background-color: #f2e5d8;
}

.header {
  display: flex;
  border: 5px solid #bbada0;
  background-color: #cdc1b5;
  height: 120px;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  font-size: 48px;
  font-weight: bold;
}

.activ {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.score-card {
  display: flex;
  padding: 5px;
  justify-content: space-between;
  
  height: 80 px;
  font-size: 16px;
  font-weight: bold;
}

.score {
  background-color: #f2e5d8;
  padding: 5px;
  width: 80px;
}

.max-score {
  background-color: #f2e5d8;
  padding: 5px;
  width: 80px;
}

.button {
  align-self: center;
  cursor: pointer;
  margin-top: 10px;
  background-color: #f2e5d8;
  border: 1px solid #bbada0;

  font-size: 18px;
  color: fff;
  height: 40px;
  width: 120px;
}

.board {
  /* width: 400px;
  height: 400px; */

  background-color: #cdc1b5;
  border: 5px solid #bbada0;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.game-over {
  justify-content: center;
  align-items: center;
  opacity: 0.7;
  position: absolute;
  transform: translateY(65px);

  color: #000;
  font-size: 40px;
  font-weight: bold;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 90px;
  border: 5px solid #bbada0;

  font-size: 36px;
  font-weight: bold;

}

.board__row {
  display: flex;
}

.color-2 {
  background-color: #eee4da;
}
.color-4 {
  background-color: #ece0ca;
}
.color-8 {
  background-color: #f4b17a;
}
.color-16 {
  background-color: #f59575;
}
.color-32 {
  background-color: #f57c5f;
}
.color-64 {
  background-color: #f65d3b;
}
.color-128 {
  background-color: #edce71;
}
.color-256 {
  background-color: #edcc63;
}
.color-512 {
  background-color: #edc651;
}
.color-1024 {
  background-color: #eec744;
}
.color-2048 {
  background-color: #ecc230;
}
.color-4096 {
  background-color: #fe3d3d;
}
.color-8192 {
  background-color: #ff2020;
}