.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
}

.board {
  width: 400px;
  height: 400px;

  background-color: #cdc1b5;
  border: 5px solid #bbada0;

  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 90px;
  height: 90px;
  border: 5px solid #bbada0;

  font-size: 36px;
  font-weight: bold;

}

.board__row {
  display: flex;
}

.color-2 {
  background-color: #eee4da;
}
.color-4 {
  background-color: #ece0ca;
}
.color-8 {
  background-color: #f4b17a;
}
.color-16 {
  background-color: #f59575;
}
.color-32 {
  background-color: #f57c5f;
}
.color-64 {
  background-color: #f65d3b;
}
.color-128 {
  background-color: #edce71;
}
.color-256 {
  background-color: #edcc63;
}
.color-512 {
  background-color: #edc651;
}
.color-1024 {
  background-color: #eec744;
}
.color-2048 {
  background-color: #ecc230;
}
.color-4096 {
  background-color: #fe3d3d;
}
.color-8192 {
  background-color: #ff2020;
}